body, html {
    height: 100%;
    margin: 0;
}

h1,
h3,
p {
    color: #ccc5aa;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

p {
    font-size: 16px;
}

h1 {
    color: #f8f7f4;
}

.nav-cluster {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 95%;
}

.homeb {
    margin-right: auto;
}

button {
    padding: 15px 32px;
    border-radius: 12px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: 2px solid white;
}

button:hover {
    background-color: #ccc5aa;
    color: black;
    border:2px solid white;
}

.page {
    display: flex;
    justify-content: center;
    height: 100%;
    background-image: url('../images/tarkov/reserve-background.jpg');
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex start;
    align-items: center;
    width: 60%;
    background-color: black;
    border-right: 3px solid #ccc5aa;
    border-left: 3px solid #ccc5aa;
    gap: 30px;
    overflow: auto;
}

#intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 50%;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 15px;
}

.right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.unique {
    margin-top: 30px;
    border-top: 1px solid #ccc5aa;
    width: 100%;
    text-align: center;
    padding-top: 30px;
}

.weapon-mod{
    display: flex;
    flex-direction: row;
    height: 30%;
    width: 95%;
}

.mod-descript {
    margin-left: 20px;
}

.m4 {
    width: 80%;
    height: auto;
    padding: 15px;
    padding-left: 0;
}

.extract {
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 40%;
}

.extr-img {
    width: 80%;
    height: auto;
}

.influence {
    border-top: 1px solid #ccc5aa; 
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    gap: 20px;
    margin-top: 40px;
}

.games {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.agame {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 15px;
}

.game-logo {
    width: 80%;
    height: auto;
}

.gamep {
    text-align: center;
}

.end {
    margin-top: 100px;
    margin-bottom: 30px;
}

#logo {
    width: 90%;
}

#welcome {
    width:  70%;
    height: auto;
}