body, html {
    height: 100%;
    margin: 0;
}

h1,
p {
    color: white;
}

.page {
    display: flex;
    justify-content: center;
    height: 100%;
    background-image: url('../images/tarkov/reserve-background.jpg');
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex start;
    align-items: center;
    width: 60%;
    background-color: black;
    border: 3px solid orange;
}

#intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 50%;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 3px solid rgb(150, 110, 110);
    width: 50%;
    height: 100%;
}

.right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(143, 100, 100);
}

#logo {
    width: 90%;
}

#welcome {
    width:  70%;
    height: auto;
}